<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
</head>
<body>
    <img src = "images/logo-mercado-liebre.svg" alt = "imagen del logo"> 
    <p> Lugar para poner la barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
            <li> <a href = "Ofertas"> Ofertas </a> </li>
            <li> <a href = "Tiendas Oficiales"> Tiendas Oficiales </a> </li>
           <li> <a href = "Vender"> Vender </a> </li>
            <li> <a href = "Ayuda"> Ayuda </a> </li>
    </ul>
    <ul>
        
           <li> <a href = "Creá tu cuenta"> Creá tu cuenta </a> </li>
            <li> <a href = "Ingresá"> Ingresá </a> </li>
            <li> <a href = "Mis compras"> Mis compras </a> </li>
    </ul>
<section>
    <p><strong>Basado en tu última visita</strong></p>
    <img src = "images/img-cafetera-moulinex.jpg" alt = "imagen de la cafetera">
       <div>$6.770</div> 
        <div>40% OFF</div>
        <strong><div>Cafetera Moulinex </div></strong>

            <img src = "images/macbook-pro-2019.jpg" alt = "imagen de la macbook">
            <div>$230.000</div>
            <div>20% off</div>
            <strong><div>MacBook Pro 2019</div></strong>

            <img src = "images/img-samsung-galaxy-s10.jpg" alt = "imagen del celular">
            <div>$70.500</div>
            <div>10% off</div>
            <strong><div>Samsung Galaxy S10</div></strong>

            <img src = "images/img-tv-samsung-smart.jpg" alt ="imagen de la smart tv">
            <div>$23.200</div>
           <div> 5% off </div>
            <strong><div>SmartTv Samsung 43"</div></strong>
</section>
<br>
<footer>
    <section>
        <strong>Pagá con tarjeta o en efectivo</strong>
<div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</div>

    <strong>Envío gratis desde $ 2.500 </strong>
    <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</div>

        <strong>Seguridad, de principio a fin</strong>
        <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</div>

            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </section>
</footer>
</body>
</html>